DeploymentManagementService-war/src/test/resources/xsds/base_type_element.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.ericsson.com/dmt/baseType_element"
	xmlns:dmt="http://www.ericsson.com/dmt/baseType_element">

	<complexType name="animal_type">
		<sequence>
			<element name="name" type="string" />
		</sequence>
	</complexType>

	<complexType name="dog_type">
		<complexContent>
			<extension base="dmt:animal_type">
				<sequence>
					<element name="color" type="string" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="dog" type="dmt:dog_type" />
</schema>

